@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width: 3px;
}
::-webkit-scrollbar-track{
  background: black;
}
::-webkit-scrollbar-thumb{
  background-color: #F08B21;
}
:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Arial', sans-serif;
}


.gradient-text {
  background: linear-gradient(to right, #FFB63F, #F08B21, #000000);
  -webkit-background-clip: text;
  color: transparent;

}
.companyBg{
  background: url("../public/companyBg.png");
}
